.config/configstore
.config/dxp
.config/gatsby
.config/git
.config/htop
.config/lazygit
.config/alacritty
.config/tinted-theming
.config/nvim-kickstart
.config/base16-shell
.config/karabiner/automatic_backups
.config/fish/fish_variables
