# yazi.toml
[mgr]
show_hidden = true
linemode = "mtime"

[opener]
edit = [
	{ desc = "Edit in Neovim", run = 'wezterm cli spawn -- nvim "%s"', block = false, orphan = true },
]
json = [
	{ desc = "Open JSON with fx", run = 'wezterm cli spawn -- fx "%s"', block = false, orphan = true },
]
csv = [
	{ desc = "Open csv with ov", run = 'wezterm cli spawn -- ov -H1 -C -d"," -c --column-rainbow "%s"', block = false, orphan = true },
]
psv = [
	{ desc = "Open psv with ov", run = 'wezterm cli spawn -- ov -H1 -C -d"|" -c --column-rainbow "%s"', block = false, orphan = true },
]
tsv = [
	{ desc = "Open tsv with ov", run = 'wezterm cli spawn -- ov -H1 -C -d"/\t/" -c --column-rainbow "%s"', block = false, orphan = true },
]
log = [
	{ desc = "Open log file with ov", run = 'wezterm cli spawn -- ov --multi-color "\d*:?(error|ERROR|Error).*?\b,\d*:?warn(ing)*,\d*:?notice,\d*:?info,\d*:?debug,\d{4}-\d{2}-\d{2}( |T)?(\d{2}:\d{2})?(:\d{2}|\s?[AaPp][Mm])?([+-]\d{4}|\.\d{6})?" "%s"', block = false, orphan = true },
]
clipboard = [
	{ desc = "Copy to system clipboard", run  = 'osascript -e "set the clipboard to POSIX file \"$0\""', block = false, orphan = true }
]

[open]
rules = [
	# CSV and similar
	{ mime = "text/csv", use = ["csv", "edit", "clipboard", "reveal"] },
	{ url = "*.csv", use = ["csv", "edit", "clipboard", "reveal"] },
	{ url = "*.psv", use = ["psv", "edit", "clipboard", "reveal"] },
	{ url = "*.tsv", use = ["tsv", "edit", "clipboard", "reveal"] },
	# Log files
	{ url = "*.log", use = ["log", "edit", "clipboard", "reveal"] },
	{ url = "*.log.*[0123456789]", use = ["log", "edit", "clipboard", "reveal"] },
	# Folder
	{ url = "*/", use = [ "edit", "open", "reveal", "clipboard" ] },
	# Text
	{ mime = "text/*", use = [ "edit", "clipboard", "reveal" ] },
	# Image
	{ mime = "image/*", use = [ "open", "clipboard", "reveal" ] },
	# Media
	{ mime = "{audio,video}/*", use = [ "play", "clipboard", "reveal" ] },
	# Archive
	{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = [ "extract", "clipboard", "reveal" ] },
	# JSON
	{ mime = "application/json", use = ["json", "edit", "clipboard", "reveal"] },
	{ url = "*.json", use = [ "json", "edit", "clipboard", "reveal" ] },
	{ url = "*.har", use = [ "json", "edit", "clipboard", "reveal" ] },
	{ mime = "application/ndjson", use = [ "edit", "clipboard", "reveal" ] },
	# JavaScript
	{ mime = "*/javascript", use = [ "edit", "clipboard", "reveal" ] },
	# Empty file
	{ mime = "inode/empty", use = [ "edit", "reveal" ] },
	# Fallback
	{ url = "*", use = ["open", "edit", "clipboard", "reveal", "mime"] },
]

[plugin]
prepend_previewers = [
	{ url = "*.log", run = 'piper -- bat -p -l log --color=always "$1"' }, # ./plugins/piper.yazi/
	{ url = "*.log.*[0123456789]", run = 'piper -- bat -p -l log --color=always "$1"' }, # ./plugins/piper.yazi/
]
