.tab-position,
.separator {
  transform: translateX(var(--PositionX))
    translateY(calc(var(--PositionY) * 1.25)) !important;
  height: calc(var(--Height) * 1.25) !important;
}

.density-on .tab-wrapper {
  margin: 0 calc(var(--densityGap) * 1.25) var(--densityGap) !important;
}

.tab-wrapper {
  max-height: calc(var(--Height) * 1.25) !important;
}

.tab-wrapper::after {
  height: 125% !important;
}

.tab {
  font-size: 13px !important;
}

.tab .tab-header {
  flex: 0 0 calc(30px * 1.25) !important;
}

.button-toolbar.newtab {
  display: none !important;
}

.svg-tab-stack {
  transform: scaleY(1.25) translateY(10%);
}

#app .svg-tab-selection:not(.svg-tab-stack) {
  transform: scaleY(1.1) translateY(10%);
}
